.CTAButton {
  --bg: black;
  --bg-active: #111111;
  --bg-disabled: #666666;
  --text: white;
  --text-active: white;
  --text-disabled: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-display);
  line-height: 1.5rem;
  padding: var(--padding, 0.4em 1.2em);
  color: var(--text);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  /* background-color: var(--color-${backgroundColor}); */
  border-radius: 999px;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s,
    box-shadow 0.15s;
  outline: none;
  cursor: pointer;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

.CTAButton:not([data-disabled="true"]):hover,
.CTAButton:focus {
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.4);
}

.CTAButton:focus-visible {
  outline: 3px solid var(--color-text);
}

.CTAButton:disabled[data-disabled="true"] {
  background-color: var(--bg-disabled);
  cursor: not-allowed;
}

.CTAButton & :global(.icon) {
  margin-right: 0.5em;
}