.gradient {
  background: linear-gradient(340deg, color-mix(var(--color-albuquerque-sand) 90%, #000), color-mix(var(--color-albuquerque-sand) 70%, #ffa));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:global(.dark) .gradient {
  background: linear-gradient(340deg, color-mix(var(--color-albuquerque-sand) 60%, #fff), color-mix(var(--color-albuquerque-sand) 30%, #fff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientLight {
  color: var(--color-albuquerque-purple);
}

:global(.dark) .gradientLight {
  color: color-mix(var(--color-albuquerque-purple) 35%, #fff);
}