@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
/* @import "./_reset.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --type-t50: 0.87rem;
  --type-t75: 0.93rem;
  --type-t100: 1rem;
  --type-t200: 1.33rem;
  --type-t300: 1.67rem;
  --type-t400: 2.00rem;
  --type-t500: 2.75rem;

  --font-display: "Montserrat", Helvetica, Arial, sans-serif;
}

html.dark:root {
  --bg-primary: #18181a;
  --sp-nav-gradient: linear-gradient(120deg, #ff7a59 0%, #c280ff 100%);
  --color-text: #ffffff;
  --color-link: var(--color-sky);
  color-scheme: dark;

  --color-chill-green: #6d8b85;
  --color-bright-peach: #c6513e;
  --color-dark-teal: #074c4d;
  --color-green-gray: #5c6d5c;
}

html:root {
  --bg-primary: #f6f8fa;
  --sp-nav-bg: linear-gradient( to bottom, color-mix(in srgb, var(--bg-primary) 90%, #ffffff00) 40%, color-mix(in srgb, var(--bg-primary) 82%, #ffffff00) 80%);
  --sp-nav-gradient: linear-gradient(120deg, #e76f51 0%, #9333ea 100%);
  color-scheme: light;

  /* todo: consolidate and remove unused colors */


  --color-rasp: hsl(350, 60%, 48%);
  --color-frost: hsl(207, 45%, 35%);
  --color-frost-dark: hsl(207, 55%, 28%);
  --color-frost-disabled: hsl(207, 50%, 85%);
  --color-sky: hsl(202, 46%, 67%);
  --color-space: hsl(238, 43%, 18%);
  --color-black: hsl(0, 0%, 0%);

  --color-text: #111111;
  --color-link: var(--color-frost);

  /* "rainbow" color palette; initial version adapted from Tailwind colors */
  --color-red: #ef4444;
  --color-amber: #f59e0b;
  --color-green: #059681;
  --color-blue: #3b82f6;
  --color-purple: #8b5cf6;
  --color-pink: #db2777;

  /* oSTEM Shades of blue */
  --color-ostem-blue: #1B7EA1;
  --color-ostem-darkblue: #004f6b;
  --color-ostem-lightblue: #76bfda;

  /* Conference 2021 Colors */
  --color-umber: #e48440;
  --color-apricot: #fabb74;
  --color-mullberry: #705159;
  --color-slate: #a1a1a3;
  --color-linen: #ffe8c0;
  --color-latte: #847465;
  --color-spruce: #577072;
  --color-spruce-light: #97AEAF;
  --color-fog: #f3f6f8;

  /* Conference 2022 Colors */
  --color-deepwater: #6F7588;
  --color-antique-teal: #75949E;
  --color-skyblue: #88B8D1;

  /* Conference 2023 Colors */
  --color-bright-peach: #EB6955;
  --color-chill-green: #B3E6E0;
  --color-dark-teal: #a2eae7;
  --color-green-gray: #b7d5b7;
}

.img-logo {
  content: url(/logo-banner.png);
}

html.dark .img-logo {
  content: url(/logo-banner-light.png)
}

html,
html > * {
  color: var(--color-text);
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Block level elements */

h1,
h2,
h3,
h4,
p {
  padding: 0.25em 0;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1 {
  font-size: var(--type-t500);
}

h2 {
  font-size: var(--type-t400);
}

h3 {
  font-size: var(--type-t300);
  font-weight: 600;
}

h4 {
  font-size: var(--type-t200);
  font-weight: 600;
}

/* Inline elements */
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2rem;
}

.tint{
    position: relative;
}

.tint-dark:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(87,112,114,0.5);
    transition: background 0.3s linear;
}

.tint-light:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250,187,116,0.5);
    transition: background 0.3s linear;
}

.tint:hover:before {
  background: none;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #c6c9cc;
}

th {
  text-align: center;
  font-weight: bold;
}

td,
th {
  border: 1px solid #c6c9cc;
  padding: 0.5rem 1rem;
  vertical-align: baseline;
}

tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.025);
}