@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* @import "./_reset.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --type-t50: 0.87rem;
  --type-t75: 0.93rem;
  --type-t100: 1rem;
  --type-t200: 1.33rem;
  --type-t300: 1.78rem;
  --type-t400: 2.37rem;
  --type-t500: 3.16rem;

  --font-display: "Montserrat", Helvetica, Arial, sans-serif;
}

:root {
  --color-rasp: hsl(350, 60%, 48%);
  --color-frost: hsl(207, 45%, 35%);
  --color-frost-dark: hsl(207, 55%, 28%);
  --color-frost-disabled: hsl(207, 50%, 85%);
  --color-sky: hsl(202, 46%, 67%);
  --color-space: hsl(238, 43%, 18%);
  --color-black: hsl(0, 0%, 0%);

  --color-text: #111111;
  --color-link: var(--color-frost);

  /* "rainbow" color palette; initial version adapted from Tailwind colors */
  --color-red: #ef4444;
  --color-amber: #f59e0b;
  --color-green: #10b981;
  --color-blue: #3b82f6;
  --color-purple: #8b5cf6;
  --color-pink: #ec4899;

  /* oSTEM Shades of blue */
  --color-ostem-blue: #1B7EA1;
  --color-ostem-darkblue: #004f6b;
  --color-ostem-lightblue: #76bfda;

  /* Conference 2021 Colors */
  --color-umber: #e48440;
  --color-apricot: #fabb74;
  --color-mullberry: #705159;
  --color-slate: #a1a1a3;
  --color-linen: #ffe8c0;
  --color-latte: #847465;
  --color-spruce: #577072;
  --color-spruce-light: #97AEAF;
  --color-fog: #f3f6f8;

  /* Conference 2022 Colors */
  --color-deepwater: #6F7588;
  --color-antique-teal: #75949E;
  --color-skyblue: #88B8D1;

  --color-bright-peach: #EB6955;
  --color-chill-green: #B3E6E0;

}

html,
html > * {
  color: var(--color-text);
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Block level elements */

h1,
h2,
h3,
h4,
p {
  padding: 0.25em 0;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1 {
  font-size: var(--type-t500);
}

h2 {
  font-size: var(--type-t400);
}

h3 {
  font-size: var(--type-t300);
}

h4 {
  font-size: var(--type-t200);
}

/* Inline elements */
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2rem;
}

.tint{
    position: relative;
}

.tint-dark:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(87,112,114,0.5);
    transition: background 0.3s linear;
}

.tint-light:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250,187,116,0.5);
    transition: background 0.3s linear;
}

.tint:hover:before {
  background: none;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #c6c9cc;
}

th {
  text-align: center;
  font-weight: bold;
}

td,
th {
  border: 1px solid #c6c9cc;
  padding: 0.5rem 1rem;
}

tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.025);
}