/* New Navbar */
.NavNew {
  position: fixed;
  display: initial;
  width: 100%;
  background: linear-gradient( to bottom, #f3f6f8ef 40%, #f3f6f8af 80%);
  backdrop-filter: blur(4px);
  padding-bottom: 1px;
}

.NavNew-inner {
  margin: auto;
  /* background: #ff8; */
  max-width: 1400px;
  border-bottom: 1px solid #000;
}

.NavNew-inner-left {
  flex-grow: 1;
}
.NavNew-inner-right {
  /* background: #8ff; */
  display: flex;
}

.dropdownIcon {
  margin-left: 0.5rem;
  /* Not good practice... if someone else wants to figure out why by default (without these two lines below) the icon size changes on different pages feel free! */
  width: 1rem !important;
  height: 100% !important;
}

.gradientText {
  background: linear-gradient(120deg, #e76f51 0%, #9333ea 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}