/* New Navbar */
.NavNew {
  position: fixed;
  display: initial;
  width: 100%;
  background: linear-gradient( to bottom, #f3f6f8ef 40%, #f3f6f8af 80%);
  backdrop-filter: blur(4px);
  padding-bottom: 1px;
  z-index: 1;
}

.NavNew-inner-left {
  flex-grow: 1;
}

.dropdownCompactOuter {
  font-size: 14px;
  line-height: 1;
  padding-top: 3px;
}

.dropdownCompact {
  display: inline-flex;
}

.dropdownBtn[data-headlessui-state="open"] .dropdownIcon, .dropdownCompact[data-headlessui-state="open"] .dropdownIcon {
  transform: rotateX(180deg);
}

.gradientText {
  background: linear-gradient(120deg, #e76f51 0%, #9333ea 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.NavMobile p, .dropdownCompact {
  font-size: 14px;
  line-height: 1;
}