.AwardCard {
  --bg: black;
  --bg-active: #111111;
  --bg-disabled: #666666;
  --text: white;
  --text-active: white;
  --text-disabled: white;

  margin-right: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-display);
  line-height: 1.3em;
  position: relative;
  padding: var(--padding, 0.5em 1.5em);
  color: var(--text);
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
  background-color: var(--color-space);
  border-radius: 1px;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s, box-shadow 0.15s;
}

.AwardCard:hover,
.AwardCard:focus {
    background-color: var(--color-sky);
    box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.4);
  }

.AwardCard:disabled, .AwardCard[data-disabled="true"] {
  background-color: var(--bg-disabled);
  cursor: not-allowed;
}

  /* outer focus ring */
.AwardCard:after {
  content: "";
  transition: box-shadow 0.15s;
  margin: -4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 1px;
}
.AwardCard:focus:after {
  box-shadow: 0 0 0 2px var(--bg-active);
}

.AwardCard  & :global(.icon) {
  margin-right: 0.5em;
}